.create-act-header {
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.create-act-label {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.create-act-btn {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);
    border: solid rgb(36, 36, 36);
    box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.2), 10px 5px 10px 0px rgba(0, 0, 0, 0.19);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
    width: 12rem;
}

.create-act-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.87);
    border: solid rgba(255, 255, 255, 0.87);
    font-family: 'Pontano Sans', sans-serif;
}