.create-act-card {
    background-color: rgba(66, 66, 66, 0.74);
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
    width: 35rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.create-act-header {
    font-size: 23px;
    text-align: center;
}

.create-act-form {
    text-align: center;
    align-items: center;
}

.create-act-label {
    color: rgb(255, 255, 255);
    font-size: 17px;
}

#createUserEmail, #createUserPassword, #createUserName {
    display: block;
    margin: 0 auto;
    width: 18rem;
}

.create-act-btn {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);
    border: solid rgb(36, 36, 36);
    box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.2), 10px 5px 10px 0px rgba(0, 0, 0, 0.19);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
    width: 12rem;
    margin: 0 auto;
    display: block;
}

.create-act-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.87);
    border: solid rgba(255, 255, 255, 0.87);
    font-family: 'Pontano Sans', sans-serif;
}

.already-account {
    color: rgb(255, 255, 255);
    font-family: 'Pontano Sans', sans-serif;
}

.login-link {
    color: rgb(255, 255, 255);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
}

.login-link:hover {
    color: rgb(0, 0, 0);
}

.errormsg {
    color: white;
    background-color: rgba(255, 0, 0, 0.589);
    font-size: 16px;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
    width: 18rem;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 1rem;
}

@media screen and (max-width:470px) {
    .create-act-card {
        width: 21.5rem;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .create-act-header {
        font-size: 20px;
        text-align: center;
    }
    
    .create-act-form {
        text-align: center;
        align-items: center;
    }
    
    .create-act-label {
        color: rgb(255, 255, 255);
        font-size: 16px;
    }

    .create-act-btn {
        font-size: 16px;
        width: 10rem;
    }

    .login-link {
        font-size: 17px;
    }
}