.destination-card {
    background-color: rgba(66, 66, 66, 0.74);
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.destination-header {
    font-size: 22px;
    text-align: center;
}

.destination-input {
    width: 15rem;
    margin: 0 auto;
    display: block;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
    width: 15rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.destination {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 27px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
    width: 15rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.destination:hover {
    color: black;
}

@media screen and (max-width:470px) {
    .destination-header {
        font-size: 20px;
    }

    .destination {
        font-size: 20px;
        margin-top: 4px;
        margin-bottom:4px;
    }

    .destination-input {
        font-size: 20px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width:780px) {
    .destination-header {
        font-size: 20px;
    }

    .destination {
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .destination-input {
        font-size: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}