.hotel-form {
    text-align: center;
    align-items: center;
}

.hotel-form-label {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#hotelSearchInput, #numOfTravelersInput {
    display: block;
    margin: 0 auto;
    width: 18rem;
}

.hotel-form-btn {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);
    border: solid rgb(36, 36, 36);
    box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.2), 10px 5px 10px 0px rgba(0, 0, 0, 0.19);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
    width: 12rem;
    margin: 0 auto;
    display: block;
}

.hotel-form-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.87);
    border: solid rgba(255, 255, 255, 0.87);
    font-family: 'Pontano Sans', sans-serif;
}


.hotel-details {
    font-size: 18px;
  }

  .hotel-results-btn {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);
    border: solid rgb(36, 36, 36);
    box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.2), 10px 5px 10px 0px rgba(0, 0, 0, 0.19);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
    width: 12rem;
    margin: 0 auto;
    display: block;
}

.hotel-results-btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.87);
    border: solid rgba(255, 255, 255, 0.87);
    font-family: 'Pontano Sans', sans-serif;
}
.travel-card {
    background-color: rgba(66, 66, 66, 0.74);
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
    width: 35rem;
    margin: 0 auto;
    margin-top: 5rem;
}