body {
    background-image: url(../../images/beach.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instruction-jumbo {
    margin-top: 5rem;
    background-color: rgba(66, 66, 66, 0.74);
}

.lead-instructions {
    text-align: center;
    color: white;
    font-family: 'Pontano Sans', sans-serif;
}

.line-break {
    border: solid 1px rgb(143, 142, 142);
}

.instructions {
    text-align: center;
    color: white;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
}

#start-planning {
    margin: 0 auto;
    display: block;
    width: 12rem;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);
    border: solid rgb(36, 36, 36);
    box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.2), 10px 5px 10px 0px rgba(0, 0, 0, 0.19);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
}

#start-planning:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.87);
    border: solid rgba(255, 255, 255, 0.87);
    font-family: 'Pontano Sans', sans-serif;
}