.header-jumbo {
    background-color: rgba(66, 66, 66, 0.74);
    height: 6rem;
}

.header {
    font-family: 'Megrim', cursive;
    color: white;
    margin-top: -50px;
}

@media screen and (max-width:470px) {
    .header {
        font-size: 60px;
        margin-top: -25px;
    }
}

@media screen and (max-width:376px) {
    .header {
        font-size: 60px;
        margin-top: -25px;
    }
}