.navbar {
    background-color: rgba(66, 66, 66, 0.74);
    border-radius: 5px;
}

.nav {
    margin: 0 auto;
}

.nav-link {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}