.navbar {
    background-color: rgba(66, 66, 66, 0.74);
    border-radius: 5px;
}

.nav {
    margin: 0 auto;
}

.nav-link {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

.nav-link-dark {
    color: rgb(0, 0, 0);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 17px;
}

.nav-link-dark:hover {
    color: rgb(0, 0, 0);
}


@media screen and (max-width:470px) {
    .nav-link {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 16px;
    }

    .nav-link-dark {
        font-size: 16px;
    }
}

@media screen and (max-width:376px) {
    .nav-link {
        margin-left: -4px;
        margin-right: -4px;
        font-size: 16px;
    }

    .nav-link-dark {
        font-size: 16px;
    }
}

@media screen and (max-width:360px) {
    .nav-link {
        margin-left: -5px;
        margin-right: -5px;
        font-size: 16px;
    }

    .nav-link-dark {
        font-size: 15px;
    }
}