.countdown-card {
    background-color: rgba(66, 66, 66, 0.74);
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.countdown-header {
    font-size: 22px;
    text-align: center;
}

.start-date-text, .countdown-text {
    text-align: center;
    font-size: 18px;
}

.date-change-input {
    width: 10rem;
    margin: 0 auto;
    display: block;
    font-size: 22px;
}

.pencil {
    font-size: 17px;
}

.pencil:hover {
    color: black;
}

.vacation-date {
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
    width: 10rem;
    border-radius: 4px;
    font-size: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.vacation-date:hover {
    color: black;
}

#countdown-num {
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
    width: 12rem;
    border-radius: 4px;
    font-size: 23px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:470px) {
    .countdown-header {
        font-size: 20px;
    }

    .start-date-text, .countdown-text {
        font-size: 17px;
    }

    .vacation-date {
        color: white;
        background-color: rgba(255, 255, 255, 0.404);
        width: 12rem;
        display: block;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
    }

    .date-change-input {
        color: white;
        background-color: rgba(255, 255, 255, 0.404);
        width: 10rem;
        font-size: 20px;
        margin: 0 auto;
        display: block;
    }
    
    .pencil {
        font-size: 16px;
    }

    .countdown-text {
        margin-top: 2rem;
    }

    #countdown-num {
        color: white;
        background-color: rgba(255, 255, 255, 0.404);
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width:780px) {
    .countdown-header {
        font-size: 20px;
    }

    .start-date-text, .countdown-text {
        font-size: 17px;
    }

    .vacation-date {
        width: 12rem;
        display: block;
        border-radius: 4px;
        font-size: 20px;
        text-align: center;
    }

    .date-change-input {
        width: 10rem;
        font-size: 20px;
        margin: 0 auto;
        display: block;
    }
    
    .pencil {
        font-size: 16px;
    }

    .countdown-text {
        margin-top: 1rem;
    }

    #countdown-num {
        font-size: 20px;
        text-align: center;
    }
}