.countdown-card {
    background-color: rgba(66, 66, 66, 0.74);
    font-family: 'Pontano Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.countdown-header {
    font-size: 20px;
    text-align: center;
}

.start-date-text {
    text-align: center;
}

.date-change-input {
    width: 10rem;
    margin: 0 auto;
    display: block;
}

.pencil {
    font-size: 17px;
}

.pencil:hover {
    color: black;
}

.vacation-date {
    font-size: 25px;
    text-align: center;
}

#countdown-num {
    font-size: 25px;
    text-align: center;
}